     <style>
          .btn-secondary{
               background-color: rgb(49, 103, 144);
               border: none;
          }
     </style>
     <div style="display: flex; justify-content: space-between; margin: 5px 200px;">
          <img src="https://up.yimg.com/ib/th?id=OIP.alzrYM2sQ2V2On8TxtrsywHaHa&pid=Api&rs=1&c=1&qlt=95&w=103&h=103" height="60px" width="50px" alt="National emblem">
          <h2 style="color: rgb(25, 126, 176);">Unique Identification Authority of India</h2>
          <img src="https://up.yimg.com/ib/th?id=OIP.HwLawVYx7TxGVUqkQJ60MAHaEx&pid=Api&rs=1&c=1&qlt=95&w=168&h=108" height="60px" width="70px" alt="aadhar logo">
     </div>
     <div style="background-image: conic-gradient(rgb(49, 103, 144),rgb(24, 24, 75)); display: flex; justify-content: space-between; padding:12px 200px;">
     <div>
         <img src="https://myaadhaar.uidai.gov.in/static/media/dashboard.21335c2c89af71912adf700d228cbecd.svg" height="25px" alt="">
         <a href="{% url 'home_page' %}"><b style="color: white; font-size: 23px;">myAadhar</b></a>
     </div>
          
     <div style="display: flex;">
               <img src="https://myaadhaar.uidai.gov.in/static/media/LanguageSelector.dd14b8054218a45a518df6f26aaff418.svg" height="30px" width="30px" alt="">
               <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
                      English 
                    </button>
                    <ul class="dropdown-menu">
                      <li><button class="dropdown-item" type="button">English</button></li>
                      <li><button class="dropdown-item" type="button">हिंदी</button></li>
                      <li><button class="dropdown-item" type="button">বাংলা</button></li>
                      <li><button class="dropdown-item" type="button">मराठी</button></li>
                      <li><button class="dropdown-item" type="button">తెలుగు</button></li>
                      <li><button class="dropdown-item" type="button">اردو</button></li>
                      <li><button class="dropdown-item" type="button">മലയാളം</button></li>
                      <li><button class="dropdown-item" type="button">বাংলা</button></li>
                    </ul>
                  </div>
     </div>
          
     </div>

     <div style="display: flex; justify-content: space-between; margin: 20px 180px; height: 45px; ">
          <img src="https://myaadhaar.uidai.gov.in/static/media/error_outline.6ce73fae915166a5c626b512787185bd.svg" style="margin: 5px;" height="25px" alt="">
          <b><p style="color: rgb(179, 21, 21);">Some Aadhaar holders may find incorrect characters in downloaded Aadhaar card from website due to a temporary technical issue. Issue is expected to be  fixed soon. Affected users are requested to attempt download once issue is resolved. Inconvenience caused is deeply regretted.</p></b>
     </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
